body {
    background: linear-gradient(45deg, rgb(2, 2, 2), rgb(53, 52, 52))
}
 
 h1 {
     text-align: center;
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 10VW;
     margin: 10px;
     text-shadow: 10px 10px 10px rgb(255, 123, 0);
     filter: blur(1.5px);
    }
 h2 { 
        text-align: center;
        color: rgb(255, 123, 0);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 27px;
        margin: 20px;
    }
.wrapper {
    position: relative;
}

.background {
    position: relative;
    width: 1350px;
    height: 1900px;
    border: solid;
    border-style: outset;
    border-color: #ab9e7f;
    border-width: 5px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    z-index: 1;
    background: #b3a788;
}
.greenbox {
    position: absolute;
    width: 1100px;
    height: 1600px;
    z-index: 2;
    opacity: 0.9;
    background: rgb(255, 123, 0);
    top: 195px;
    left: 135px;
    border-radius: 100px;
    animation: width-animation2 0.5s infinite alternate;
}
@keyframes width-animation2 {
    from {
        width: 1100px;
    } to {
        width: 1000px;
    }
}


.goldbox {
    position: absolute;
    width: 700px;
    height: 450px;
    z-index: 3;
    background: gold;
    top: 00px;
    left: 1900px;
}

.stick img {
    top: -1400px;
    left: -7px;
    position: relative;
    z-index: 3;
    width: 1100px;
}

.stick img:hover {
    filter: drop-shadow(10px 10px 5px rgb(0, 0, 0));
}

.man img {
    top: -1400px;
    left: -7px;
    position: relative;
    z-index: 4;
    width: 1100px;
}